certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
et_xmlfile==2.0.0
gevent==25.4.2
greenlet==3.2.1
grequests==0.7.0
idna==3.10
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
pycparser==2.22
PySocks==1.7.1
pyTelegramBotAPI==4.31.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
requests-futures==1.0.2
setuptools==80.3.1
sherlock-project==0.15.0
six==1.17.0
stem==1.8.2
thesherlock==0.2.6
torrequest==0.1.0
tzdata==2025.2
urllib3==2.4.0
zope.event==5.0
zope.interface==7.2